.about {
  display: flex;
  justify-content: space-between;
  padding-top: 250px;
}

.about__content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.about_us {
  color: #000;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px;
  margin-bottom: 0;
}

.about_us__intro {
  color: #8f95a5;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
}

.img_business {
  display: flex;
}

.about__info {
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__number {
  color: #2a3246;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px;
  margin-bottom: 0;
}

.info__title {
  color: #8f95a5;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
