.pricing__title {
  color: black;
  font-size: 48px;
  font-weight: 600;
  line-height: 80px;
  text-align: center;
  margin-top: 190px;
}

.pricing__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 40px;
}

.pricing__card {
  padding: 20px;
  position: relative;
}

.pricing_img {
  position: absolute;
}

.pricing__card_content {
  display: flex;
  flex-direction: column;
  height: 250px;
  align-content: stretch;
  margin-top: 320px;
  justify-content: space-between;
}

.pricing__card_title {
  color: var(--color_main);
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 0;
}

.pricing__card_text {
  color: #8f95a5;
  font-size: 20px;
  font-weight: 400;
}

.pricing__button {
  border-radius: 5px;
  border: 0px;
  background: #eee;
  width: 240px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.money {
  color: var(--color_main);
  font-size: 30px;
  font-weight: 400;
}

.description {
  color: #546269;
  font-size: 18px;
  font-weight: 400;
}
